/* Site-wide Styles */
* {
    margin: 0;
}

/* Map */
#map, #planet {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}
#map {
    background-color: #011a76;
}
#map img {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
#planet {
    display: none;
}

/* Lexias
span[class^="lexia"] { /* targets the links in the lexias *//*
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
*/

/* TODO: Remove after Youki's style changes are made */
/* simulates one lexia showing (as it does when used in the application)*/
#lexia-a, #lexia-b, #lexia-end, #lexia-bad {
    display: none;
}

/* Youki: START STYLING HERE */


span[class^="lexia"] { /* this targets the links in the lexias */

}